doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='description' content='Cakes - торты на заказ')
		meta(name='keywords' content='торты, доставка тортов, cakes, cakes order')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(property='og:title' content='Cakes')
		meta(property='og:description' content='Торты на заказ')
		meta(property='og:image' content='../img/icons/favicon/ms-icon-150x150.png')
		meta(name='robots' content='all')
		title Cakes - Торты на заказ
		block style
			link(rel="stylesheet" type="text/css" href="css/normalize.css")
			link(rel="stylesheet" type="text/css" href="css/style.css")
	body
		block promo
		block header
		block main
		block footer
		block popup
		block js
			script(src="js/script.js")