.owl-theme {
	// Styling Next and Prev buttons
	.owl-nav {
		margin-top: 10px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		[class*='owl-'] {
			color: $nav-color;
			font-size: $nav-font-size;
			margin: $nav-margin;
			padding: $nav-padding;
			background: $nav-background;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;
			width: 30px;
			height: 30px;

			&:hover {
				background: $nav-background-hover;
				color:$nav-color-hover;
				text-decoration: none;
			}
		}

		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots


	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		width: 100px;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				width: $dot-width;
				height: $dot-height;
				margin: $dot-margin;
				background: $dot-background;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: $dot-rounded;
			}

			&.active,
			&:hover {
				span {
					background: $dot-background-active;
				}
			}
		}
	}
}


.cakebox-list {
  .owl-dots {
    top: 120px;
  }

  .owl-nav {
		.owl-next {
			position: absolute;
			right: 64px;
			top: 25%;
		}

		.owl-prev {
			position: absolute;
			left: 64px;
			top: 25%;
		}
  }
}

.sizebox-list {
  .owl-dots {
    bottom: 80px;
  }
}

.appearbox-list {
  .owl-dots {
    bottom: 80px;
  }

  .owl-nav {
		.owl-next {
			position: absolute;
			right: -50px;
			top: 25%;
		}

		.owl-prev {
			position: absolute;
			left: -50px;
			top: 25%;
		}
  }
}

.reviews__list {
	.owl-dots {
		bottom: -35px;
	}

  .owl-nav {
		.owl-next {
			position: absolute;
			right: -100px;
			top: 40%;
		}

		.owl-prev {
			position: absolute;
			left: -100px;
			top: 40%;
		}
  }
}