header(role="banner").page-header
	.page-header__container.container

		include main-nav/main-nav.pug
		
		h1.page-header__title Торты<br>на заказ
		span.page-header__descr Ручная работа
		.page-header__specsbox.header-specsbox
			span.header-specsbox__text Натуральные ингредиенты
			span.header-specsbox__text Доставка бесплатно при заказае от 2000 рублей*
		a(href="#cakes").page-header__btn Выбрать торт
